div.productDetailWrapper {
  width: 95%;
  margin: 40px auto;
}

div.flexContainer {
  display: flex;
}

main.productDescription {
  width: 75%;
  display: flex;
}

main.productDescription > section {
  width: 60%;
  padding: 0 20px;
  box-sizing: border-box;
}