header#defaultHeader {
  border-bottom: 1px solid #EDEDED;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  background-color: #fafafa;
}

ul#navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  list-style: none;
  padding: 10px 20px;
}

a#cartLink {
  display: flex;
  align-items: center;

  color: #0863fe;
  font-weight: bolder;

  position: relative;
}

img#cartIcon {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

a.navLink {
  font-size: 1.1rem;
  color: #282828;
  text-decoration: none;
}

a.navLink:visited {
  color: black;
}

div#cartLength {
  padding: 5px 6px;
  z-index: 20;
  border-radius: 40px;
  font-size: 0.8rem;

  position: absolute;
  left: 16px;
  top: -5px;

  color: #fafafa;
  background-color: #0863fe;
}