h3, h4, h5, h6 {
  color: #707070;
}

label {
  display: inline-block;
}

label > span {
  display: block;
}

label > input {
  border: 1px solid #707070;
  padding: 8px 10px;
  box-sizing: border-box;
  font-size: 1.1rem;
}

button[type="submit"] {
  border: none;
  background-color: #0863fe;

  display: block;
  width: 100%;
  padding: 10px 15px;

  text-align: left;
  color: #fafafa;
  font-size: 1.1rem;
  font-weight: bolder;
}

button[type="submit"]:hover {
  background-color: #0353e9;
}

button[type="submit"]:disabled {
  background-color: #EDEDED;
}

a.back-to-homepage {
  font-weight: bolder;
  text-decoration: none;
  color: #0863fe;

  display: inline-flex;
  align-items: center;
}

a.back-to-homepage > img {
  width: 22px;
  margin-right: 5px;
}